body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  .form-check-input1 {
    /* position: absolute; */
    /* margin-top: 0.3rem; */
    /* margin-left: -1.25rem; */
    margin: initial !important ;
  }

  /* contact-list */
  .profile-pic-holder{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border:3px dotted #d2b4b4;
    border-radius: 5px;
    background: #f1f1f1;
  }
  
  /* .contact-list li{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  } */
  .contact-list .actions{
      display: flex;
      justify-content: space-around;
      background: #f7f7f7;
      color: #fff;
      
  }

  .hero-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero-img.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

  }
  .nav1{
 position: absolute;
 top : 20px;
 left:20px;
 margin-left: 83px;
  }

    
  .text-dec{
    text-decoration: none;
  }
  .Snavbar{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: -11px;
    margin-inline-start: 560px;
    
    
  }


  .ico{
    margin-top: 6px;
  }
  /* margin for card */
  .mar-t{
    margin-top: 150px;
  }
  /* profile css */
  .profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #f7f7f7;
  }
  /* create-card */
  .create-card{
    margin-top: 150px;

  }
  /* login */
  

button {
  outline: none;
  background: none;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}




/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* /* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 680px;
}





/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  margin-bottom: 37px;
  text-align: center;
  margin-top: -85px;
  
}

/* ==========================================================================
   #CARD
   ========================================================================== */


.card-1 .card-heading {
  background: url("../src/images/bg-head-01.jpg") center center/cover no-repeat;
  padding-top: 110px;
}

.card-1 .card-body {
  padding: 0 90px;
  padding-top: 15px;
  padding-bottom: 25px;
}
.view-contact{
  margin-top: 100px;
  text-align: center;
  max-width: 30rem !important;
  margin-left: 200px !important;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}
.white, .picker__list-item, .picker__box .picker__header .picker__select--month.browser-default, .picker__box .picker__header .picker__select--year.browser-default {
    background-color: #fff !important;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.testimonial-card .avatar img {
  width: 100%;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.testimonial-card .card-up {
  height: 80px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.indigo.lighten-1 {
  background-color: #5c6bc0 !important;
}
.testimonial-card .card-body {
  text-align: center;
}
.aqua-gradient {
  background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}
.mx-auto {
  margin-right: auto !important;
}
.testimonial-card .card-body {
  text-align: center;
  
}
.card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.view-contact-ul{
  text-align: center;
}

